@font-face {
  font-family: 'CompassPro';
  font-style: normal;
  font-weight: 300;
  src: url(./CompassPro.woff) format('woff'),
       url(./CompassPro.otf) format('opentype');
}

body{
  /* background: white; */
  background:linear-gradient(#1A1935, #6A4A69);
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
  /* background: linear-gradient(#99472D, #E29249); */
}
.colors{
  color:#15151B;
  color: #737373;
  color: #C4C4C4;
}


.App {
 font-family:'CompassPro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

 max-width: 1680px;
 margin: 20px;
 /* margin:0px auto; */
 transition: all 200ms;
 color: white;
}
@media (max-width:1034px){
  .App{
    margin:0px auto;
  }
}
@media(min-width:1034px){
  .App{
    padding: 10px ;
  }
}
@media (min-width: 1720px) {
  .App {
    margin:40px auto;
  }
}

a{
  color: white;
}
hr{
  border: #ffffff solid 2px;
}

h1{font-size: 50px;
  font-weight: 300;
  margin: 0 0 20px;
}
h2{
  font-size: 32px;
  font-weight: 300;
}
h3{font-size: 32px;
  font-weight: 300;
}
p{font-size: 20px}


.Home{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.Home section{
  width: 100%;
  /* height: 100%; */
  /* max-width: 560px; */
  margin: 0 auto;
}
.card__wrapper{
 
 }
.card__content{
  padding:30px;
}

@media (min-width: 1034px) {
  .Home{
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  .Home section{
    max-width: none;
    min-width:476px;
    margin: 0;
  }
  .Home section:nth-child(1){/* nav */
    grid-column: 1;
    grid-row: 1;
  }
  .Home section:nth-child(2){/* game desc */
    grid-column: 2 ;
    grid-row: 1;
  }
  .Home section:nth-child(3){/* downloads */
    grid-column:1;
    grid-row: 2;
  }
  .Home section:nth-child(4){/*rules */
    grid-column: 2 ;
    grid-row: 2 / 8;
  }
  .Home section:nth-child(5){/* contact/questions */
    grid-column:1;
    grid-row:3;
  }
  .Home section:nth-child(6){/* graveyard */
    grid-column: 1 ;
    grid-row: 5/8;
  }
  .Home section:nth-child(7){/* thanks */
    grid-column:1;
    grid-row: 4;
    }
  .Home section:nth-child(8){/* credits */
    grid-column: 1/-1;
    grid-row:8;
  }
  .Home section:nth-child(9){
    grid-column:1/-1;
    grid-row:8;
  }
}


@media (min-width: 1508px) {
  .Home{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  
  .Home section:nth-child(1){/* hero */
    grid-column: 1 / 4;
    grid-row: 1;
  }
  .Home section:nth-child(2){/* game desc */
    grid-column: 1;
    grid-row: 2;
  }
  .Home section:nth-child(3){/* the hype */
    grid-column:2;
    grid-row: 2;
  }
  .Home section:nth-child(4){/*rules */
    grid-column: 3 ;
    grid-row: 2 / 5;
  }
  .Home section:nth-child(5) {/*questions*/
    grid-column: 3;
    grid-row: 5;
  }
  .Home section:nth-child(6){/*the blog */
    grid-column: 2 ;
    grid-row: 3;
  }
  .Home section:nth-child(7){/* graveyard */
    grid-column:1;
    grid-row: 3/5;
    }
  .Home section:nth-child(8){
    grid-column: 2;
    grid-row:4;
  }
  .Home section:nth-child(9){/* credits */
    grid-column:1 /3;
    grid-row:5;
  }
}

.logo--wrapper{
  text-align: center;
  margin: 30px auto;
}
.logo--svg{
  height: 200px;
  width: 200px;
}
.section__hero{

}


.section__thegame{
  background:#15151B;
}

.section__therules{
  background: #262830;
 }

 .section__gettheapp {
  background: #262830;
}

.section__gotquestions{
  background: blue;
}

.section__graveyard {
  background: red;
}

.section__credits {
  background: #15151B;
 }

.section__theblog{
  background:#15151B;
}

.section__thehype{
  background:#262830;
}

.download{

}
.download__button{
  display: block;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  background: #1A1935;
  box-shadow: 3px 0 #1A1935, -3px 0 #1A1935, 0 -3px #1A1935, 0 3px #1A1935, 6px 0 #1A1935, -6px 0 #1A1935, 0 -6px #1A1935, 0 6px #1A1935, 0 0 0 3px #1A1935, 9px 0 #ffdc2c, -9px 0 #ffdc2c, 0 9px #ffdc2c, 0 -9px #ffdc2c, 0 -3px 0 3px #ffdc2c, 0 3px 0 3px #ffdc2c, 3px 0 0 3px #ffdc2c, -3px 0 0 3px #ffdc2c;
}
.download__button{
  /* max-width: 300px; */
  margin: 38px auto 0;
  text-transform: uppercase;
}

.download__button.ios{
  margin-bottom: 20px;
}

.userreview{
  padding: 20px 0;
  font-size: 20px;
}
.userreview h3{
  margin: 10px auto 0;
  font-size: 27px;
}
.userreview__stars{color: #ffdc2c}

table{
  width: 100%;
}
th{
  font-weight: 300;
  padding: 10px 0 30px;
}
tr{
  
}
tr td:nth-child(3){
  text-align: right;
}


.section__gettheapp a{
 font-size: 32px;
}
.section__thegame h2 > span{
  color:  #ffdc2c;
  font-size: 32px;
 }
.appstorelink__ios{}
.appstorelink__android{
  float: right;
}





.table__header{
  text-align: left;
}



.section__graveyard p {
  text-align: justify;
}

.section__graveyard p span{
  text-decoration-line: line-through;
}

.section__thanks .card__wrapper{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  background: linear-gradient(#99472D, #E29249);
}
.section__thanks h1{
  margin: 0;
  font-size:70px;
}

.section__credits .card__content{
 width: 100%;
 }
.section__credits, .section__credits--list{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  text-align: center;
}
.section__credits span{
  flex: 1;
}
